[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
/game/
/New folder/
*_BackUpThisFolder_ButDontShipItWithYourGame/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.pdb
*.mdb
*.apk
*.aab
